.works{
    padding:0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
}

.w-right{
    position: relative;
}
.w-mainCircle{
    top:2rem;
    left:9rem;
    width: 18rem;
    height:18rem;
    position: relative;
    box-shadow: var(--smboxShadow);
border-radius: 100%;
background-color: white;
}
.w-mainCircle>*{
    position: absolute; 
}

.w-mainCircle>:nth-child(1){
top:-3rem;
left:6rem;
}
.w-mainCircle>:nth-child(2){
    top:5rem;
    left:-3rem;
}
.w-mainCircle>:nth-child(3){
    top:5rem;
    left:6rem;
}
.w-mainCircle>:nth-child(4){
    top:5rem;
    left:15rem;
}
.w-mainCircle>:nth-child(5){
    top:13rem;
    left:6rem;
}

.w-secCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    position: absolute;
    border:5px solid #ebebeb;
    border-radius: 100%;
    background: white;
    box-shadow: var(--smboxShadow);
}

.w-secCircle>img{
    transform: scale(0.6);
}

.w-backCircle{
    position: absolute;
    z-index: -1;
    width:13rem;
    height: 13rem;
    border-radius: 100%;
}
.blueCircle{
    top:0;
    left:18rem;
    background-color: #1949BB;
}
.yellowCircle{
    top:8rem;
    left:18rem;
    background-color: #F5C32C;
}

@media screen and (max-width:480px){
    .works{
        flex-direction: column;
        height: 55rem;
        padding: 0;
        gap: 5rem;
    }
    .w-right{
        display: flex;
        align-items: flex-start;
justify-content: start;
transform: scale(0.7);
    }
    .w-mainCircle{
        position: static;
    }
.w-backCircle{
    left:8rem;
}
    
}