.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
}

.f-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    gap:4rem;
width: 100%;
margin-top: 4rem;
color:white;
}

.f-icons{
display: flex;
gap:3rem;
}

.f-icon{
    fill:white;
    font-size:50px;
}
@media screen and (max-width:480px){
    .f-content{
        transform: scale(.5);
    } 
}