:root
{
  --yellow: #F5C32C;
    --teal : #00828f;
    
    --black : #242D49;
    --gray : whitesmoke;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --prussianCard : #004b62;
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
} 

.App{
    padding-inline: 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button{
  border-radius:34px;
  border:none;
  color:white;
  font-size:16px;
  padding:11px 26px 11px 26px ;
  background: linear-gradient(180deg, #3b66cc 26.71%, #0d95c7 99.36%);
box-shadow: 0px 20px 24px 3px rgba(13, 149, 199, 0.42);

}

.button:hover{
  background: white;
  cursor: pointer;
  color: var(--teal);
  border:1px solid var(--teal);
}
.heading{
  font-size: 2rem;
  font-size: clamp(1.75rem, 4vw, 3rem);
  font-weight: bold;
  text-align: center;
}
.dot{
  img{
    width: clamp(130px, 150px, 230px);
    
   }
}

@media screen and (max-width:786px){
  .App{
    padding:0 1rem 0 1rem;
  }
}